{% extends "base.html" %}

{% block content%}
<h1>A rss-reader: a test website</h1>

<p>
   This is a site with which you can read xml files. Just take a xml link for the internet and paste it into the input field. 
  Here is a <b><a href="https://nos.nl/feeds" target="_blank">link</a></b> with some rss you can try. The reader will grab the title , the date and the text from the xml.
</p>

<form method='POST'>
  <label for="url">Enter rss file</label><br>
  <input type="text" id="fname" name="fname"><br>
  <input type="submit" value="read">
</form>

{%if invalid_url%} 
<p>{{error}}</p>
{% endif %}

{% for item in news %}
<h2><a href={{item.link}} target="_blank" >{{item.title}}</a></h2>
<h3>{{item.pubDate}}</h3>
<p ><b>{{item.description}}</b></p>
{% endfor%}

{% endblock content%}
